<h1>Minha Home Usando Handlebars</h1>
<p>testando mandar dados do back para a view no front as "" simboliza q o dado vem do backend</p>
<p>O usuário logado se chama: "{{user.firstName}} {{user.lastName}}", e ele tem "{{user.age}}" anos </p>
<h2>"{{titulo2}}"</h2>