<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mvc-MongoDb</title>
  </head>
  <body>
    <nav id="navBar">
      <ul>
        <li>
          <a href="/products">Products</a>
        </li>
        <li>
          <a href="/products/create">Insert Products</a>
        </li>
      </ul>
    </nav>
    <section class="container">
      {{{body}}}
    </section>
    <footer>Footer</footer>
  </body>
</html>